h1 {
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 35px;
}
h3 {
    background-color: #C4C4C4;
    color: #005677;
    text-align: left;
    font-family: 'Times New Roman';
    font-size: 20px;  
}
#foto {
    text-align: center;
}
.datos {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
}
.date {
    font-family: 'Times New Roman';
    font-size: 15px;
    font-weight: bold;
}
.bottom {
    text-align: center;
    background-color: #005677;
}
h4 {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #FFFFFF;
}
ul.sin-puntito {
 list-style: none;
}